<div class="main-div">
    <app-header></app-header>

    <nav>
        <button class="nav-item nav-link-edit" [routerLink]="['/dashboard']">Dashboard</button>        
        <button class="nav-item nav-link-edit" [routerLink]="['/settings']">Settings</button>        
    </nav> 

    <router-outlet></router-outlet>
</div>