<div class="main-div">

    <mat-card>
        <img class="images" [src]="logo" style="width: 200px;"/>
        <mat-card-content>
            <button mat-raised-button (click)="login()" color="primary">Login</button>      
        </mat-card-content>
    </mat-card>

</div>
