<form [formGroup]="entryForm" autocomplete="off" novalidate >

    <mat-card class="main-card">

      <mat-card-content>
        <div class="content-container">

          <mat-form-field>
            <input matInput placeholder="Subreddit" formControlName="subreddit" id="subreddit">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Keywords" formControlName="keywords" id="keywords">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Answer" formControlName="answer" id="answer">
          </mat-form-field>

          <mat-form-field floatLabel="always" appearance="none">
            <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
            <textarea matInput hidden></textarea>
          </mat-form-field>
        
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSave(entryForm.value)">Save</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>

    </mat-card>
  </form>