<table mat-table [dataSource]="dataSourceSubreddits">
    <tr mat-header-row *matHeaderRowDef="columnsSubreddits"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsSubreddits"></tr>

    <ng-container matColumnDef="srImage">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><img [src] = "element.subreddit_image" /> </td>
    </ng-container> 

    <ng-container matColumnDef="srName">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{element.subreddit_name}}</td>
    </ng-container> 

    <ng-container matColumnDef="srDesc">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{element.subreddit_description}}</td>
    </ng-container> 

    <ng-container matColumnDef="srCnt">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{element.counter}}</td>
    </ng-container> 

</table>